@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1F5FE;
    padding: 10px 120px;
}

a{
    text-decoration: none;
    padding-right: 60px;
    color: #000;
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}

.active{
    text-decoration: underline #155EEF;
}

.hire{
     font-family: 'Manrope';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     border-radius: 6px;
    letter-spacing: 0.5px;
    color: #155EEF;
    border: 1px solid #155EEF;
    background: white;
    padding: 10px 14px;
}

.menu{
    display: none;
}

/* HERO */

#hero-section{
    padding: 50px 0 0 0;
    background-color: #000000;
}

.main-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 120px;
}

.info .desc{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #A3A3A3;
}

.main-hero .boy img{
    display: block;
}

.name{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
    color: #FFFFFF;;
}

.projects{
    margin-top: 24px;
}

.project{
    padding: 10px 16px;
    gap: 10px;
    width: 164px;
    height: 44px;
    background: #155EEF;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

/* About */

#about{
    padding: 50px 120px;
}

.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info1{
    width: 48%;
}

.info1 p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    text-align: justify;
}

.info1 h1{
    font-family: 'Halant';
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    /* text-align: justify; */
    letter-spacing: 0.5px;
    color: #000000;
}


.btns{
    margin-top: 30px;
}

.btns a{
    margin-right: 12px;
}

.resume{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    background: #FFFFFF;
    border: 1px solid #155EEF;
    padding: 10px 16px;
    letter-spacing: 0.5px;
    border-radius: 8px;
    color: #155EEF;
}

.hire2{
    padding: 10px 50px;
    background: #155EEF;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

/* Recommendations */

#recommendations{
    background: #E6E6E6;
    padding: 100px 120px;
    margin-bottom: 30px;
}

.rec-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}


.recommendations{
    background: #FFFFFF;
    padding: 45px 35px 120px 35px;
    z-index: 10;
    position: absolute;
    left: 37%;
   top: 30%;
   height: 440px;
}

.recommendations h1{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #141414;
    margin-bottom: 14px;
}

.recommendations .content{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #141414;
    margin-bottom: 12px;
}

.recommendations .author{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #525252;
}

.recommendations .desig{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #525252;
}

/* footer */

#footer{
    background-color: #000000;
    padding: 20px 120px;
}

.main-footer{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

.socials img{
    padding: 0 14px;
}

.copy{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}


@media screen and (max-width: 768px) {
    header .navigation{
        display: none;
    }

    .menu{
        display: block;
        cursor: pointer;
    }

    .container{
        width: 100%;
    }

    nav{
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }

    nav .tjp{
        width: 60%;
    }

    .main-hero{
        flex-direction: column-reverse;
    }

    .info, .info1{
        text-align: center;
        width: 100%;
        margin: 1.75rem 0;
    }

    .about-me{
        flex-direction: column;
    }

    /* RECOMMENDATIONS */

    #recommendations{
        margin-bottom: 0;
        padding: 10px 8px;
    }

    .black-boy{
        display: none;
    }

    .recommendations{
        position: relative;
        background: none;
        padding: 10px 80px;
        text-align: justify;
        width: 100%;
        height: auto;
        left: 0;
    }

    .recommendations h1{
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    }

    .recommendations .content{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #141414;
    }

    .recommendations .author{
        font-family: 'Halant';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #525252;
    }

    .recommendations .desig{
        font-family: 'Halant';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #525252;
    }

     /* FOOTER */

     #footer{
        padding: 20px 80px;
    }

    
    .main-footer{
        display: flex;
        /* align-items:center ;
        justify-content: space-between; */
    }

    .main-footer .footer-logo{
        width: 90%;
        /* margin-bottom: 12px; */
    }

    .socials img{
        padding: 0 8px;
        width: 30%;
        /* display: flex; */
    }

    .copy{
        font-size: 18px;
        margin-top: 5px;
        text-align: center;
    }
    


    
}

@media screen and (max-width: 376px){
    header .navigation{
        display: none;
    }


    .menu{
        display: block;
    }

    .container{
        width: 100%;
    }

    nav{
        width: 374px;
        padding: 10px 7px;
    }


    .main-hero .boy img{
        width: 100%;
	    object-fit: contain;
    }


    .main-hero{
        flex-direction: column-reverse;
        padding: 0 30px;
    }


    .info .name{
        font-size: 18px;
    }

    .info .desc{
        font-size: 14px;
        width: auto;
    }

    .about-me{
        flex-direction: column;
    }

    .projects{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 16px;
        width: 308px;
        height: 44px;
        background: #155EEF;
        border-radius: 8px;
    }

   
    .about-me img{
        display: none;
    }

    .info1{
        width: 100%;
    }

    .info .name{
        font-size: 32px;
    }

    .info .desc{
        font-size: 14px;
    }

    .info h1{
        text-align: center;
        font-size: 16px;
    }

    .info1 p{
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
        font-weight: 500;
    }

    #about{
        padding: 0 40px;
    }

    .btns a{
        margin-right: 0;
    }

    .resume{
        padding: 10px 10px;
        letter-spacing: 0.5px;
    }

    .hire2{
        padding: 10px 20px;
    }

    

    /* RECOMMENDATION */

    #recommendations{
        margin-bottom: 0;
        padding: 10px 8px;
    }

    .black-boy{
        display: none;
    }

    .recommendations{
        position: relative;
        background: none;
        padding: 10px 30px;
        text-align: justify;
        width: 100%;
        height: auto;
        left: 0;
    }

    .recommendations h1{
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    }

    .recommendations .content{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #141414;
    }

    .recommendations .author{
        font-family: 'Halant';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #525252;
    }

    .recommendations .desig{
        font-family: 'Halant';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        text-align: justify;
        letter-spacing: 0.5px;
        color: #525252;
    }
    
    /* FOOTER */

    #footer{
        padding: 20px 10px;
    }

    .main-footer{
        flex-wrap: wrap;
        justify-content: center;
   }

    .main-footer .footer-logo{
        width: 90%;
        margin-bottom: 12px;
    }

    .socials img{
        padding: 0 8px;
        width: 30%;
        /* display: flex; */
    }

    .copy{
        font-size: 12px;
        margin-top: 5px;
        text-align: center;
    }
    

}